<div>
    <h1>Start a new survey:</h1>
    <br>
    <form method="post" action="/surveys/new">
        <p>What videogame console do you use the most? :</p>
        <input type="radio" id="consoleChoiceNin" name="console" value="Switch">
        <label for="consoleChoiceNin">Nintendo Switch</label>
        <input type="radio" id="consoleChoiceX" name="console" value="Xbox">
        <label for="consoleChoiceX">Xbox One</label>
        <input type="radio" id="consoleChoiceP" name="console" value="Playstation">
        <label for="consoleChoiceP">Playstation 4</label>
        <br>
        <<p>What is your favorite genre of these three? :</p>
        <input type="radio" id="genreChoice1" name="genre" value="Action/Adventure">
        <label for="genreChoice1">Action/Adventure</label>
        <input type="radio" id="genreChoice2" name="genre" value="Fighting">
        <label for="genreChoice2">Fighting</label>
        <input type="radio" id="genreChoice3" name="genre" value="Survival Horror">
        <label for="genreChoice3">Survival Horror</label>
        <input type="submit" value="submit">
    </form>
</div>
